[submodule "third_party/Universal_Robots_ROS2_Description"]
	path = third_party/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "third_party/Universal_Robots_ROS2_Driver"]
	path = third_party/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "third_party/ros2_robotiq_gripper"]
	path = third_party/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
	branch = humble
